*{
    margin:0;
    padding:0;
    border:none;
    outline:none;
    font-family:sans-serif;
    box-sizing:border-box;
}

body{
    width:100vw;
    height:100vh;
    background:#39297b;
    color:#fff;
}

h1{
    text-align:center;
    margin:100px 0px 50px;
    font-weight:600;
}

form{
    width:90vw;
    max-width:600px;
    margin:auto;
    height:80px;
    background:#434989;
    display:flex;
    align-items:center;
    border-radius:8px;
}

form input{
    height:100%;
    background:transparent;
    color:#fff;
    font-size:18px;
    padding:0 30px;
    flex:1;
}

form button{
    padding:0 40px;
    height:100%;
    background:#ff3929;
    color:#fff;
    font-size:18px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    cursor:pointer;
}

::placeholder{
    color:#fff;
    font-size:20px;
}

#showMoreButton{
    background:#ff3929;
    color:#fff;
    padding:10px 20px;
    border-radius:4px;
    margin:10px auto 100px;
    cursor:pointer;
    display:none;
}

#searchResult{
    width:80%;
    margin:100px auto 50px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:40px;
}

#searchResult img{
    width:100%;
    height:230px;
    object-fit:contain;
    border-radius:5px;
}

@media (max-width:450px){
    h1{
        font-size:25px;
    }
    #searchResult{
        grid-template-columns:1fr 1fr;
    }

    form{
        height:70px;
    }

    form input::placeholder{
        font-size:12px;
    }

    form input{
        font-size:15px;
        padding:0 10px;
        width:50%;
    }
    
    form button{
        min-width:40%;
        padding:0px;
        height:100%;
        background:#ff3929;
        color:#fff;
        font-size:12px;
    }

    #searchResult img{
        height:150px;
    }
}

@media (max-width:260px){
    form input{
        font-size:12px;
        width:60%;
    }

    form input::placeholder{
        font-size:10px;
    }

    form button{
        width:30%;
    }

    form{
        height:40px;
    }
}
