*{
    border:none;
    outline:none;
    font-family:sans-serif;
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

body{
    width:100vw;
    max-height:100vh;
    background:#d0eaff;
}
.container{
    width:100%;
    max-height:100vh;
    background:#d0eaff;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:60px;
}

.product{
    width:90%;
    max-width:750px;
    display:flex;
}

.gallery{
    flex-basis:47%;
    background:#241e20;
    transform:scale(1.08);
    box-shadow:-10px 5px 10px 10px rgba(0,0,0,0.1);
    position:relative;
}

.gallery img{
    width:100%;
    display:block;
    padding-top:100px;
}

.details{
    flex-basis:53%;
    background:#fff;
    padding:40px;
    padding-left:60px;
    box-shadow:-10px 5px 10px 10px rgba(0,0,0,0.1);
    font-size:13px;
    font-weight:500;
    color:#777;
}

.details h1{
    color:#333;
    font-size:35px;
}

.details h2{
    color:#555;
    font-size:30px;
    font-weight:600;
}

.details h3{
    color:#00d874;
    margin-bottom:20px;
}

.details form{
    font-size:15px;
    font-weight:400;
}

.sizeSelect{
    display:flex;
    align-items:center;
    margin-top:50px;
}

.sizeSelect p{
    width:70px;
}

.sizeSelect input:checked + span{
    color:blue;
    font-weight:600;
}

.sizeSelect input{
    display:none;
}

.sizeSelect span{
    padding:5px;
    margin-right:10px;
    cursor:pointer;
}

.colorSelect{
    display:flex;
    align-items:center;
    margin-top:20px;
}

.colorSelect p{
    width:75px;
}

.colorSelect span{
    display:inline-block;
    width:15px;
    height:15px;
    border-radius:50%;
    margin-right:15px;
    cursor:pointer;
}

.color1{
    background:red;
}

.color2{
    background:#00d874;
}

.color3{
    background:blue;
}

.color4{
    background:pink;
}

.colorSelect input{
    display:none;
}

.colorSelect input:checked + span{
    transform:scale(0.7);
    box-shadow:0 0 0 4px #fff,0 0 0 6px #000;
}

.quantitySelect{
    display:flex;
    align-items:center;
    margin-top:20px;
}

.quantitySelect p{
    width:75px;
}

.quantitySelect input{
    background:#eee;
    padding:2px 2px 2px 15px;
    width:50px;
    border-radius:12px;
}

form button{
    background-color:#553ff0;
    color:#fff;
    font-size:17px;
    width:100%;
    padding:10px;
    border-radius:30px;
    margin-top:50px;
    box-shadow:0 10px 10px rgba(85,63,240,0.25);
    cursor:pointer;
}

.controls{
    position:absolute;
    bottom:40px;
    right:20px;
}

.btn{
    display:block;
    width:10px;
    height:10px;
    border-radius:50%;
    background:rgba(255,255,255,0.5);
    margin:10px;
    cursor:pointer;
}

.btn.active{
    background:#2b12e5;
}

@media (max-width:570px){
    .details{
        padding:10px;
        padding-left:20px;
        font-size: 10px;
        width:40vw;
    }
    
    .details h1{
        font-size:25px;
    }

    .details h2{
        font-size:20px;
    }

    .details h3{
        font-size:12px;
        font-weight:500;
    }

    .sizeSelect p{
        width:33px;
        font-size:13px;
    }

    .sizeSelect span{
        font-size:10px;
        padding:2px;
        position:relative;
        bottom:0.5px;
    }

    .colorSelect p{
        width:40px;
        font-size:13px;
    }

    .quantitySelect p{
        width:60px;
        font-size:13px;
    }
}

@media (max-width:416px){
    .details{
        width:43vw;
    }
    
    .details h1{
        font-size:20px;
    }

    .details h2{
        font-size:15px;
    }

    .details h3{
        font-size:10px;
    }

    .sizeSelect{
        margin-top:20px;
    }

    .sizeSelect span{
        margin-right:2px;
    }

    .colorSelect span{
        width:10px;
        height:10px;
        margin-right:5px;
    }

    form button{
        margin-bottom:20px;
    }
}

@media (max-width:303px){
    .details{
        padding:10px;
    }
    .sizeSelect p,
    .colorSelect p,
    .quantitySelect p{
        font-size:9px;
    }

    .sizeSelect p{
        margin-right:0px;
    }

    .sizeSelect span{
        font-size:8px;
        position: relative;
        bottom:2px;
        margin-right:1px;
    }
}
