*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border:none;
    outline:none;
    text-decoration:none;
}

body{
    width:100vw;
    height:100vh;
    background-repeat:no-repeat;
    background-image:linear-gradient(rgba(0, 0, 0, 0.451),rgba(0, 0, 0, 0.467)),url(../images/index.jpg);
    background-size:100vw 100vh;
}

.container{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    gap: 4rem;
    overflow:scroll;
}

header{
    width:50vw;
    height:10vh;
}

header h1{
    padding:10px;
    height:100%;
    width:100%;
    font-size:50px;
    font-weight:640;
    text-align:center;
    color:rgb(209, 232, 133);
}

main{
    display:flex;
    justify-content:center;
    gap:10rem;
}

.list{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    gap:4rem;
}

.list p{
    width:20vw;
    height:10vh;
    outline:3px solid white;
    background:linear-gradient(rgb(186, 64, 64),orange);
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:25px;
    font-weight:500;
    color:rgb(49, 66, 22);
}

.backArrow{
    width:80px;
    height:80px;
    position:absolute;
    top:80px;
    border-radius:50%;
    left:80px;
}

.backArrow a{
    width:100%;
    height:100%;
    padding:5px;
    border-radius:50%;
    background-color:greenyellow;
    color:#fff;
    font-size:50px;
    padding:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.backArrow:hover{
    outline:5px solid rgb(138, 143, 33);
    cursor:pointer;
}
.container::-webkit-scrollbar{
    display:none;
}

