*{
    margin:0;
    padding: 0;
    border:none;
    outline:none;
    box-sizing:border-box;
    font-family:sans-serif;
}

body{
    background-color:#333;
    display:flex;
    align-items:center;
    font-size:3rem;
    flex-direction:column;
    color:white;
}

.title{
    margin:20px;
}

.subtext{
    color:#ccc;
    font-size:1.5rem;
    margin-bottom:10px;
}

.board{
    display:inline-grid;
    padding:10px;
    grid-template-columns:repeat(var(--size),55px);
    grid-template-rows:repeat(var(--size),55px);
    gap:4px;
    background-color:#777;
}

.board>*{  /* This is used to select a specific child apart from class or id */
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    border:2px solid #bbb;
    user-select:none;
}

.board > [data-status="hidden"]{
    background-color:#bbb;
    cursor:pointer;
}

.board > [data-status="mine"] {
    background-color:red;
}

.board > [data-status="number"] {
    background-color:none;
}

.board > [data-status="marked"] {
    background-color:yellow;
}

.playAgain{
    display:none;
    justify-content:center;
    align-items:center;
    font-size:34px;
    width:420px;
    height:90px;
    font-weight:500;
    color:white;
    background-color:rgb(58, 55, 55);
    position:absolute;
    top:50%;
    left:50%;
    border-radius:10px;
    transform:translate(-50%,-50%);
    cursor:pointer;
}

@media (max-width:510px){
    .title{
        font-size:35px;
    }

    .subtext{
        font-size:20px;
    }
    .board{
        margin-top:20px;
        font-size:20px;
        padding:5px;
        grid-template-columns:repeat(var(--size),40px);
        grid-template-rows:repeat(var(--size),40px);
        gap:2px;
    }
}

@media (max-width:360px){
    .board{
        grid-template-columns:repeat(var(--size),30px);
        grid-template-rows:repeat(var(--size),30px);
    }
}

@media (max-width:275px){
    .title{
        font-size:30px;
    }

    .subtext{
        font-size:17px;
    }
    .board{
        grid-template-columns:repeat(var(--size),25px);
        grid-template-rows:repeat(var(--size),25px);
    }
}
