*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    font-family: sans-serif;
    text-decoration:none;
}

body{
    width:100vw;
    min-height:100vh;
    padding-top:25px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    gap:2rem;
    background-image:linear-gradient(rgba(0, 0, 0, 0.451),rgba(0, 0, 0, 0.467)),url(../images/index.jpg);
    background-size:100vw 100vh;
    overflow:hidden;
}

header{
    display:flex;
    align-items:center;
    justify-content:center;
}

header h1{
    color:rgb(184, 244, 75);
    font-size:55px;
    font-weight:570;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main{
    height:60vh;
    width:20vw;
    background:linear-gradient(45deg,rgba(105, 173, 173, 0.564),rgba(215, 215, 152, 0.482));
    border-radius:25px;
    padding:20px;
    padding-top:40px;
    margin:10px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    gap:3rem;
    overflow:scroll;
    outline:2px solid #443e3e;
}

main button{
    min-width:230px;
    height:60px;
    padding:4px;
    outline:2px solid #fff;
    border-radius:12px;
    background:linear-gradient(rgb(124, 214, 124),rgb(156, 207, 60));
    cursor:pointer;
    font-size:40px;
    color:#fff;
}

.clicked{
    outline:4px solid rgb(132, 58, 58);
    transform:scale(1.1);
}

.backArrow,
.frontArrow{
    width:80px;
    height:80px;
    position:absolute;
    top:80px;
    border-radius:50%;
}

.backArrow{
    left:80px;
}

.backArrow p,
.frontArrow span{
    width:100%;
    height:100%;
    padding:5px;
    border-radius:50%;
    background-color:greenyellow;
    color:#fff;
    font-size:50px;
    padding:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.backArrow:hover,
.frontArrow:hover{
    outline:5px solid rgb(138, 143, 33);
    cursor:pointer;
}

.frontArrow{
    right:80px;
}

footer{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:9rem;
    width:100%;
    height:10vh;
}

footer button{
    display:flex;
    justify-content:center;
    align-items:center;
    width:17%;
    height:100%;
    padding:10px;
    border-radius:20px;
    font-size:30px;
    color:white;
    background:linear-gradient(rgb(5, 160, 137),rgb(100, 193, 38));
    cursor:pointer;
}

.squareBox{
    width:30vw;
    height:30vh;
    border-radius:20px;
    outline:5px solid white;
    background:linear-gradient(rgb(1, 89, 1),rgb(10, 187, 10));
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:2.15rem;
    justify-content:center;
}

body div input{
    width:90%;
    height:40%;
    background:#fff;
    border:2px solid black;
    border-radius:20px;
    font-size:30px;
    font-weight:500;
    color:rgb(44, 42, 42);
    text-align:center;
}

body div button{
    width:38%;
    height:22%;
    font-size:25px;
    font-weight:450;
    border-radius:30px;
    background:linear-gradient(orange,rgb(179, 146, 99));
    color:#f9e2e2;
    cursor:pointer;
}

main::-webkit-scrollbar{
    display:none;
}

.notAvailable{
    filter:grayscale(100%);
    cursor:default;
    pointer-events: none;
}

.hide{
    display:none;
}

.disableSelection{
    pointer-events:none;
}
